<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="esHostUrl" value="http://192.168.0.180"/>
    <add key="esHostUrlPort" value="9200"/>
    <add key="esIndexName" value="esDemo-Index"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>